body{
    margin: 0;
}

header{
    background-color: #ef1919dc;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1;
}

header h1{
    color: white;
    border: 8px solid white;
    border-radius: 30px;
    padding: 6px 12px;
    display: inline-block;
}

.banner{
    position: relative;

}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    position: absolute;
    top: 31%;
    left: 10%;
    color: white;
    font-size: 20px;
    padding: 30px;
    background: #f5ba17;
}

nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
}

nav ul{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}